@charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: rgb(78, 78, 241);

    text-align: center;
}

header h1{
    color: white;
}

#interface{
    margin: auto;
    padding: 0.063rem;
    width: 31.25rem;

    text-align: left;

    background-color: white;
    color: black;

    box-shadow: 0.063rem 0.063rem 0.25rem black;
    border-radius: 0.625rem;
}

.container{
    padding: 0.6rem;
}

input{
    width: 18.7rem;
}